<ion-view view-title="Single GPS">
  <ion-content padding="true">
    <button class="button button-block button-balanced" ng-click="getGPS()"><i class="ion-android-globe"></i> Get GPS</button>
    <ion-checkbox ng-model="data.limited">Limited GPS Details</ion-checkbox>

    <div ng-if="error">
      <div class="list">
        <div class="item item-assertive">{{error}}</div>
      </div>
    </div>

    <div ng-if="data.retrieving">
      <ion-spinner></ion-spinner>
    </div>

    <div ng-if="data.position.coords">
      <h5>Web View Coordinates</h5>
      <coordinates-output coordinates="data.position.coords" limited="{{data.limited}}"></coordinates-output>
    </div>
    <br/>
  </ion-content>
</ion-view>
